FLASK_PORT=8000
HOST_PORT=8000

REDIS_HOST=redis
REDIS_PORT=6379

GUNICORN_WORKERS=2
GUNICORN_THREADS=25

ACCESS_TOKEN_SECRET_KEY=access_token_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_SECRET_KEY=refersh_token_secret_key
REFRESH_TOKEN_EXPIRE_DAYS=7