@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* https://stackoverflow.com/questions/1496949/font-size-for-button-and-link */
body,
input,
button,
select,
option,
textarea {
  font-family: "Inter", sans-serif;
}

:root {
  --bg-color: #121212;
  --font-color: #ffffff;
  --fg-color: #212121;
  --nav-color: #2e2f33;
  --muted-color: #AAAAAA;

  background-color: var(--bg-color);
  color: var(--font-color);
}

body {
  margin: 0;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-md {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
