<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='base.css') }}"
      rel="stylesheet"
    />
    {% block css %} {% endblock %}
    <title>Task Tracker</title>
  </head>
  <body>
    <div id="notification-container"></div>
    <div id="modal-container" class="modal-base hidden"></div>
    {% block content %} {% endblock %}
    <script src="{{ url_for('static', filename='fetch.js') }}"></script>
    <script src="{{ url_for('static', filename='notification.js') }}"></script>
    <script src="{{ url_for('static', filename='modal.js') }}"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
