<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='base.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='board.css') }}"
      rel="stylesheet"
    />
    <title>Task Tracker</title>
  </head>
  <body>
    <div class="flex-base">
      <div class="base header">
        <h2 class="header-title">Boards</h2>
        <button class="logout-button">Log out</button>
      </div>
      <div class="base board-container">
        <div class="status">
          <div class="flex-status">
            <div class="status-head">
              <h2>Pending</h2>
            </div>
            <div class="status-list">
              <div class="task">
                <h3>Title</h3>
                <p class="task-desc">Description</p>
                <small>among</small>
              </div>
              <div class="task">
                <h3>Title</h3>
                <p class="task-desc">Description</p>
                <small>among</small>
              </div>
              <div class="task">
                <h3>Title</h3>
                <p class="task-desc">Description</p>
                <small>among</small>
              </div>
              <div class="task">
                <h3>Title</h3>
                <p class="task-desc">Description</p>
                <small>among</small>
              </div>
              <div class="task">
                <h3>Title</h3>
                <p class="task-desc">Description</p>
                <small>among</small>
              </div>
              <div class="task">
                <h3>Title</h3>
                <p class="task-desc">Description</p>
                <small>among</small>
              </div>
              <div class="task">
                <h3>Title</h3>
                <p class="task-desc">Description</p>
                <small>among</small>
              </div>
              <div class="task">
                <h3>Title</h3>
                <p class="task-desc">Description</p>
                <small>among</small>
              </div>
              <div class="task">
                <h3>Title</h3>
                <p class="task-desc">Description</p>
                <small>among</small>
              </div>
              <div class="task">
                <h3>Title</h3>
                <p class="task-desc">Description</p>
                <small>among</small>
              </div>
              <div class="task">
                <h3>Title</h3>
                <p class="task-desc">Description</p>
                <small>among</small>
              </div>
              <div class="task">
                <h3>Title</h3>
                <p class="task-desc">Description</p>
                <small>among</small>
              </div>
            </div>
          </div>
        </div>
        <div class="status">
          <div class="flex-status">
            <div class="status-head">
              <h2>In progress</h2>
            </div>
            <div class="status-list">
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
              b<br />
            </div>
          </div>
        </div>
        <div class="status">
          <div class="flex-status">
            <div class="status-head">
              <h2>Done</h2>
            </div>
            <div class="status-list">hello</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
