{% extends "base.html" %} 

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='boards.css') }}" />
{% endblock %}

{% block content %}
<nav class="navbar">
  <div class="navbar-container">
    <a href="/boards" class="navbar-big">
      <span class="text-2xl">Kanban</span>
    </a>
    <div class="navbar-menu">
      <div class="navbar-user-dropdown">
        <button class="navbar-button navbar-user-button" data-handler="usermenubtn">
          <div class="avatar">
            <span id="user-avatar" class="text-md"></span>
          </div>
          <span id="user-username" class="text-md"></span>
        </button>
        <div class="navbar-user-menu" hidden>
          <a class="navbar-user-menu-item" data-handler="logout">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="boards-page-wrapper">
  <div class="boards-page-container">
    <p class="title text-3xl">Your Boards</p>
    <div id="boards-container">
      <div id="boards-list"></div>

      <div class="board-card create-board-btn" id="create-board-btn">
        <span class="text-md">Create new board</span>
      </div>

      <template id="board-card-template">
        <a class="board-card board" href="#">
          <div class="board-card-section board-card-section-bg">
            <div class="board-card-icon"><p class="text-lg"></p></div>
          </div>
          <div class="board-card-section board-card-section-details">
            <span class="text-lg title"></span>
            <span class="text-sm role"></span>
          </div>
        </a>
      </template>
    </div>
    <div class="assigned-tasks-section">
      <p class="title text-3xl">Your Tasks</p>
      <div id="assigned-tasks-list" class="assigned-tasks-grid">
      </div>
    </div>
  </div>
</div>

<template id="create-board-modal-template">
  <div class="modal-window">
    <div class="modal-title">
      <p class="text-2xl">Create board</p>
      <button class="modal-close" data-modal-action="close">
        ✕
      </button>
    </div>
    <div class="modal-content">
      <input
        type="text"
        placeholder="Board name"
        rows="1"
        class="title-input text-md"
        id="board-name-input"
      ></input>
    </div>
    <div class="modal-footer">
      <button class="modal-button submit-btn text-lg" data-handler="createboard">Create</button>
    </div>
  </div>
</template>

<template id="assigned-task-template">
    <a class="assigned-task-card" href="#">
        <div class="task-card-header">
            <span class="text-sm board-tag"></span>
            <span class="importance-dot"></span>
        </div>
        <p class="text-lg task-title"></p>
        <div class="task-card-footer">
            <span class="text-sm status-info"></span>
        </div>
    </a>
</template>
{% endblock %} 

{% block scripts %}
<script src="{{ url_for('static', filename='boards.js') }}"></script>
{% endblock %}
