{% extends "base.html" %} 

{% block css %}
<link
  href="{{ url_for('static', filename='board_disp.css') }}"
  rel="stylesheet"
/>
{% endblock %} 

{% block content %}
<div class="flex-base">
  <div class="base header">
    <h2 class="header-title">Boards</h2>
    <button class="return-button" onclick="window.location.pathname = '/boards'">Return to home</button>
  </div>
  <div class="base board-container">
    <div class="status" id="status_1">
      <div class="flex-status">
        <div class="status-head">
          <h2>Pending</h2>
          Sort by: <select name="sort-category" id="sort-category">
            <option value="">Name</option>
            <option value="">Date created</option>
            <option value="">Date updated</option>
            <option value="">Creator</option>
            <option value="">Importance</option>
          </select>
          <select name="sort-option" id="sort-option">
            <option value="">ascending</option>
            <option value="">descending</option>
          </select>
        </div>
        <div class="status-list">
          <div class="status-addnew">
            <button class="status-addnew-box" data-handler="addpost_1">
              Add new task...
            </button>
          </div>
          <div class="status-tasks">
          </div>
        </div>
      </div>
    </div>
    <div class="status" id="status_2">
      <div class="flex-status">
        <div class="status-head">
          <h2>In progress</h2>
          Sort by:
          <select name="sort-category" id="sort-category">
            <option value="">Name</option>
            <option value="">Date created</option>
            <option value="">Date updated</option>
            <option value="">Creator</option>
            <option value="">Importance</option>
          </select>
          <select name="sort-option" id="sort-option">
            <option value="">ascending</option>
            <option value="">descending</option>
          </select>
        </div>
        <div class="status-list">
          <div class="status-addnew">
            <button class="status-addnew-box" data-handler="addpost_2">
              Add new task...
            </button>
          </div>
          <div class="status-tasks">
          </div>
        </div>
      </div>
    </div>
    <div class="status" id="status_3">
      <div class="flex-status">
        <div class="status-head">
          <h2>Done</h2>
          Sort by: 
          <select name="sort-category" id="sort-category">
            <option value="">Name</option>
            <option value="">Date created</option>
            <option value="">Date updated</option>
            <option value="">Creator</option>
            <option value="">Importance</option>
          </select>
          <select name="sort-option" id="sort-option">
            <option value="">ascending</option>
            <option value="">descending</option>
          </select>
        </div>
        <div class="status-list">
          <div class="status-addnew">
            <button class="status-addnew-box" data-handler="addpost_3">
              Add new task...
            </button>
          </div>
          <div class="status-tasks">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hover-preview">
  <div class="hover-preview-inner">
    <h3>Set status to "blah"</h3>
  </div>
</div>
<div class="modal-base">
  <div class="modal-window">
    <div class="modal-title">
      <h3>Modal title</h3>
      <button id="close-modal" data-handler="closemodal">Close</button>
    </div>
    <div class="modal-content">
      <textarea placeholder="Task name" rows="1" class="title-textarea" id="title-textarea"></textarea>
      <textarea placeholder="Task description (optional)" rows="5" class="desc-textarea" id="desc-textarea"></textarea>
    </div>
    <div class="modal-footer">
      <button class="modal-button" data-handler="submitmodal">Submit</button> 
    </div>
  </div>
</div>
<template id="task-template">
  <div class="task" id="task_n" draggable="true">
    <div class="task-header">
      <h3 draggable="false">Task name</h3>
      <div class="option-dropdown-comp" draggable="false">
        <button class="option-button" id="option-button" data-handler="optionbtn_n">Options</button>
        <div class="option-dropdown-menu" hidden>
          <a class="option-dropdown-select" data-handler="editbtn_n">Edit</a>
          <a class="option-dropdown-select" data-handler="deletebtn_n">Delete</a>
        </div>
      </div>
    </div>
    <p class="task-desc" draggable="false">Task details</p>
    <small draggable="false">Task description</small>
  </div>
</template>
<template id="modal-button-template">
  <button class="modal-button" data-handler="cancelmodal">Button</button> 
</template>
{% endblock %} 

{% block scripts %}
<script src="{{ url_for('static', filename='board_disp.js') }}"></script>
{% endblock %}