{% extends "base.html" %} 

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}" />
{% endblock %} 

{% block content %}
<div class="auth-page-wrapper">
  <div class="auth-container">
    <!-- placeholder title, will replace later with a logo or smt -->
    <h1>Task Tracker</h1>
    <div class="auth-header">
      <p class="title text-xl">Log in to your account</p>
      <p class="subtitle text-md" style="color: var(--muted-color)">
        Welcome back! Please enter your details
      </p>
    </div>
    <div class="form-container">
      <form id="login-form" class="account-form">
        <div class="form-group">
          <label class="text-md" for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Enter your username"
            required
          />
        </div>
        <div class="form-group">
          <label class="text-md" for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
            required
          />
        </div>
        <button class="submit-btn text-xl" type="submit">Login</button>
      </form>
    </div>
    <a class="redir-link text-md" href="/signup">Or sign up here</a>
  </div>
</div>
{% endblock %} 

{% block scripts %}
<script>
  window.onload = function () {
    let input = document.getElementById("username").focus();
  };

  const loginForm = document.getElementById("login-form");

  loginForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    const username = document.getElementById("username").value;
    const password = document.getElementById("password").value;

    try {
      const res = await fetch('{{ url_for("auth.login") }}', {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ username, password }),
      });

      if (res.ok) {
        window.location.href = '{{ url_for("views.boards") }}';
      } else {
        const data = await res.json();
        showNotification(data.message, true);
      }
    } catch (err) {
      showNotification("Oops, something went wrong", true);
      console.error(err);
    }
  });
</script>
{% endblock %}
